.centerTitle{
    /* border: 2px solid red; */
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
    text-align: center;
}
.headerImage{
    max-width: 100%;
    max-height: 50%;
    align-content: center;
}

.mainDiv{ 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto ; 
    align-items: center;
    /* border: 2px solid red; */
  }

#popularDishesDiv{
  /* max-width: 33%; */
  /* max-height: fit-content; */
  margin: auto;
  /* border: 5px solid red; */
  font-family: cursive;
  font-weight: bolder;
  image-orientation: inherit;
}
#popularDishesDiv h4{
  font-size: x-large;
}
#popularDishesDiv img:hover{
  background-color: lightcoral;
}

.popularDishes{
  display: flex;
  text-align: center;
  /* border: 2px solid red; */
  align-items: center;
  max-width: 100%;
  max-height: 50%;
  position: relative;
  margin:0 auto;
  line-height: 1.4em;
}/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */    
.navbar {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 0;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: red;
}

.responsiveImage{
  width: auto;
  height: auto;
}
@media screen and (max-width: 500px) { 
  
  .popularDishesDiv, 
  .popularDishesDiv, 
  .popularDishesDiv { 
      width: 70%; 
  } 
} 