.centerTitle{
    border: 2px solid red;
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
}
.headerImage{
    max-width: 100%;
    max-height: 30%;
    align-content: center;
}

body { 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto ; 
    align-items: center;
  }
  